/*----------------------------*\
  1. MAIN SETUP
\*----------------------------*/
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400|Roboto:200,300,400");
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  background: #517fa4;
  background: -webkit-linear-gradient(to right, #193549, #517fa4);
  background: linear-gradient(to right, #193549, #517fa4);
  font-family: 'Roboto'; }

h1 {
  font-family: 'Raleway';
  letter-spacing: 0.3em;
  margin: 0; }

h2 {
  color: #f7f7f7;
  font-family: 'Roboto';
  font-weight: 200;
  letter-spacing: 0.1em;
  margin: 0; }

h3 {
  font-family: 'Roboto';
  font-weight: 200;
  letter-spacing: 0.2em; }

/*----------------------------*\
	2. NAVBAR
\*----------------------------*/
nav {
  height: 50px;
  width: 100%; }

ul {
  align-items: center;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0 10px; }

li {
  font-family: 'Raleway';
  list-style: none; }

a {
  text-decoration: none;
  color: #f7f7f7; }

nav .fa {
  cursor: pointer;
  color: #edc018;
  margin: 0 auto 0 0; }

.link {
  color: #f7f7f7;
  cursor: pointer;
  height: 100%;
  line-height: 50px;
  margin: 0 5px;
  padding: 0 2.5px;
  transition: 0.25s ease; }

.link:after {
  content: '';
  display: block;
  height: 3px;
  margin: auto;
  position: relative;
  top: -3px;
  transition: 0.5s ease;
  width: 0; }

.link:hover:after {
  width: 100%;
  background-color: #edc018; }

a:hover {
  color: #edc018; }

/*----------------------------*\
	3. LANDING PAGE
\*----------------------------*/
.landing {
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center; }

.landing .fa {
  color: #edc018; }

/*----------------------------*\
	4. PROJECTS
\*----------------------------*/
.projects > h2, .about > h2 {
  text-align: center;
  margin: 1% 0 3% 0; }

.projects, .about {
  background: #517fa4;
  color: #f7f7f7;
  min-height: 100vh;
  overflow: auto;
  padding: 20px 10%; }

.project-container {
  padding: 3%;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.wide-card {
  background: #f7f7f7;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 1% 1%;
  width: 450px;
  min-height: 300px; }

.card-splash {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 200px;
  padding: 0 5px; }

.card-description {
  background: #f7f7f7;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  color: #757575;
  min-height: 60px;
  padding: 10px;
  text-align: left; }

.card-description .fa-code {
  color: #517fa4;
  font-weight: bolder; }

.card-link {
  background: #f7f7f7;
  display: flex;
  align-items: flex-start;
  min-height: 50px;
  padding: 10px; }

.card-link > a {
  background: #f7f7f7;
  border-radius: 2px;
  color: #517fa4;
  margin: 0;
  padding: 7px 10px;
  text-align: left; }

.card-link > a:hover {
  background: rgba(237, 192, 24, 0.7); }

.cover {
  background-size: cover; }

.bobby {
  background: url("../assets/bobby.png");
  background-size: cover; }

.quote {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../assets/random.png");
  background-size: cover; }

.wiki {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../assets/wiki.png");
  background-size: cover; }

.calc {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../assets/calc.png");
  background-size: cover; }

.pomo {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../assets/pomo.png");
  background-size: cover; }

.tictac {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../assets/tictac.png");
  background-size: cover; }

.simon {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../assets/simon.png");
  background-size: cover; }

/*----------------------------*\
	4. ABOUT
\*----------------------------*/
.about {
  background: #193549; }

.about > h2 {
  text-align: center; }

.about-container {
  padding: 3%; }

.about-container > .row {
  justify-content: space-around; }

.bio, .skills {
  width: 40%;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center; }

.bio a, .skills a {
  color: #edc018;
  border-bottom: 3px solid #edc018; }

.photo {
  background: url("../assets/portrait.jpeg");
  background-size: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 10%; }

.skills > .row {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  width: 100%;
  height: 100%; }

.row > i {
  font-size: 4em;
  color: #edc018; }

/*# sourceMappingURL=portfolio.css.map */
